/* RESET CSS */

html {
    scroll-behavior: smooth;
}
* {
    margin:0; 
    padding: 0; 
    text-decoration:  none;
}

a {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
}

body {
    background-color: rgb(230, 220, 208);
}

ul li {
    list-style: none;
}


/* NAVIGATION */
.home ul li a{
    color:white !important;
}
.nav{
    position:absolute;
    z-index: 5;

}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f100;
}

.nav li a {
    display: block;
    color: #000000;
    padding: 20px 0 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.nav li a:hover {
    background-color: rgb(126, 52, 18);
    color: white;
}


/* FOOTER */

footer{ 
    
    bottom:0; 
    width: 100%;
    position: relative;
    font-size:0.7rem;
    background-color: rgb(126, 52, 18);
    display:flex; 
    flex-direction: column;
    justify-content: center;

}

footer ul {
    margin-left:10%;
    line-height: 35px;
}

footer ul li a{
    color: rgb(228, 214, 214);

}

footer ul li a:hover{
    color:rgb(167, 166, 166);
}

footer form {
    display:flex;
    justify-content: center;
    margin-top:2%;


}

footer form label {
    margin-right:3%;
    font-size:1rem;
    color:rgb(224, 191, 191)
}

footer form input{
    width:100%;
    height:20%;
}
footer .contenu {
    display: flex;
    justify-content: space-around;
}

footer .contenu span {
    width:25%;
    margin-top:1%;
    color:rgb(224, 191, 191);
    font-size:0.8rem;
}

/* PAGE D ACCUEIL */

.banniere {
    background-image: url(images/210359.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 70rem;


}

.banniere > h1   {

    color:white; 
    font-size: 50px;
    text-align: center;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    
}
@keyframes scale {
    100% {
        transform: scale(1);
    }
}
.banniere > h1 > span {
        display: inline-block;
        opacity: 0;
        filter: blur(4px);

}

.banniere > h1 > span:nth-child(1) {

    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.banniere > h1 > span:nth-child(2) {

    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.banniere > h1 > span:nth-child(3) {

    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.banniere > h1 > span:nth-child(4) {
    font-size: 2rem;

    animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.banniere > h1 > span:nth-child(5) {
    font-size: 2rem;
    animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.banniere > h1 > span:nth-child(6) {
    font-size: 2rem;
    animation: fade-in 0.8s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}
.banniere > h2  {

    color:white; 
    font-size: 25px;
    text-align: center;
    
}

.fleches {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(250, 250, 250);

    font-size: 25px;

    
}

.fleches a {
    box-sizing: border-box;
    height: 5vw;
    width: 5vw;
    border-style: solid;
    border-color: white;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
}

.fleches a:hover {
    border-bottom-width: 2px;
    border-right-width: 2px;
}

h3{
    color: rgb(126, 52, 18);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    
    font-size: 2rem
}

/* PAGE D ACCUEIL SECTION 2  */

#section2{
    margin-top:1rem;
}

.apropos{
    
    justify-content: space-evenly;
    margin-top:2%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.apropos span {
    color:black;

    border: 0px solid black; 
    border-radius: 25px;
    padding:2rem;
    display:block;

}
.apropos div {
    background-color: rgba(255, 239, 218, 0.329);

    height:50%;
    padding: 2rem;
}

.apropos img {
    width: 50%;
    margin: auto;
    margin-top:2%;
}

.section3{
    margin-top:2%;
}


.produits {
    margin-top: 2%;
    display:flex;
    justify-content: space-evenly;
}
.produits  div {

    margin-bottom:1rem;
    display:flex;
    flex-direction: column;
    align-items: center;

}

.produits div img {
    width:50%;
}

.produits div span {
    font-weight: bold;
    margin-top:2%;
    color:rgb(126, 52, 18); 
}

.produits div .star {
    display:flex;
    flex-direction: row;
    margin-top:2%;
    color:rgb(126, 52, 18); 

}

.bouton{
    background-color:rgb(126, 52, 18); 
    color:burlywood;
    width:15%;
    height: 25%;
    padding:1rem;
    display:flex; 
    justify-content: center;
    align-items: center;
    margin-bottom:2%;
    border:3px solid burlywood;
    margin: auto;
    margin-bottom:2%;
    transition: 0.4s;
}

.bouton a { 
    color: burlywood;
}

.bouton:hover {
    background-color:  burlywood;
    color:rgb(126, 52, 18); 
    border:3px solid rgb(126, 52, 18);
}

.bouton a:hover{
    color:rgb(126, 52, 18); 
}

.container .bouton-container .bouton {
    width:auto;
}

/* FORMULAIRE */

.coordonnees{
    width: 60%;
    border: 1px solid rgba(65, 28, 3, 0.247);
    margin: 120px;
    padding:15px;
    line-height: 35px;
    background-color: rgba(175, 143, 124, 0.986)
}

.coordonnees h3 {
    margin-top: -15px;
    margin-left: 15px;

}

.coordonnees .identite input{

    width: 48%;
    height: 25px;

}

.coordonnees  .email input{
    width: 96.5%;
    height: 25px;
}

.description{
    width:85%;
    margin-left:10px;
}

.besoins {
    display:flex; 
    align-items: start;
}

.container{
    display: flex;
    justify-content: center;
}

.container .bouton-container a {
    margin-right:10px;
}

/* BOUTIQUE */

.boutique  {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boutique .card {
    border: 1px solid rgb(126, 52, 18);
    width:50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
    margin-bottom:2%;
}

.boutique .prix {
    font-size:2rem;
    font-weight: bold;
}


.boutique .best{
    background-color: rgb(126, 52, 18);
    color:white;
    padding:0.5rem;
}

.boutique ul li{
    margin-right:20rem;
}
.boutique .best-container i {
    margin-top:8rem;
}
@media (max-width: 575.98px) {
    .banniere{
        background-size: 100%;
        height: initial;
    }
    .apropos{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .apropos span {
        width:90%;
    }

    .apropos img {
        width:100%;
        margin-top:0;
    }


    .apropos{
        flex-direction: column;
    }
    .produits{
        flex-direction: column;
    }
    .produits div img{ 
        width:100vw;
    }

    .bouton{
        width:50% !important;
    }
    /* FOOTER */

    footer{
        position: initial;
    }
    footer .contenu {
        flex-direction: column-reverse;
        margin-top:2%;
        justify-content: center;

    }
    footer .contenu span{
        width:80%; 
        margin: auto;
    }
    footer form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer form input {
        width:80%;
    }

    footer form input  {
        width:80%;
    }
    footer ul {
        margin-left:10% !important;
    }


    /* BOUTIQUE */

    .boutique .card { 
        flex-direction: column;
        width:90%;
        padding:0;
        align-items: normal;
    
    }

    .boutique img {
        width:100%;
    }

    .boutique ul li {
        margin-right: 0;;
    }

    .boutique div{
        margin-top:1rem;
        padding: 0.5rem;
    }

    .boutique .best-container i {
        margin-top:0;
    }
    .HautdePage{
        background-image: url(/bannière1.jpg);
        width: 100%;
        height:8.5em;
    }
    
    #Contact{
        margin-top: 1em;
    }
    
    .coordonnees{
        width: 75%;
        border: 1px solid rgba(65, 28, 3, 0.247);
        margin: auto;
        padding:1.5em;
        line-height: 3em;
        background-color: rgba(175, 143, 124, 0.986)
    }
    
    .coordonnees h3 {
        /* margin-top: -2em; */
        margin-left: -2em;
    
    }
    
    .coordonnees .identite input{
    
        width: 48%;
        height: 1.5em;
    
    }
    
    .coordonnees  .email input{
        width: 99%;
        height: 1.5em;
    }
    

    .description{
        width:85%;
        margin: left 1em;;
    }
    
    .besoins {
        display:flex; 
        flex-direction: column;
        align-items: start;
    }
    .besoins select{
        margin-left:0.5rem;
        margin-bottom:0.5rem;
    }
    .container{
        display: flex;
        justify-content: center;
        margin-top:2%;
    
    
    }
    
    .container .bouton-container a {
        margin-right:1em;
    }
    


}



@media (max-width: 992px) {

    .bouton{
        width:20%;
    }
    .apropos img {
        width:100%;
    }
    .HautdePage{
    background-image: url(/bannière1.jpg);
    width: 100%;
    height:9em;

    }

    #Contact{
    margin-top: 1em;
    }

    .coordonnees{
    width: 75%;
    border: 1px solid rgba(65, 28, 3, 0.247);
    margin: auto;
    padding:1.5em;
    line-height: 3em;
    background-color: rgba(175, 143, 124, 0.986)
    }

    .coordonnees h3 {
    /* margin-top: -2em; */
    margin-left: -2em;

    }

    .coordonnees .identite input{

    width: 99%;
    height: 2.5em;

    }

    .coordonnees  .email input{
    width: 99%;
    height: 2.5em;
    }

    .description{
    width:85%;
    margin: left 1em;;
    }

    .besoins {
    display:flex; 
    align-items: start;
    }

    .container{
    display: flex;
    justify-content: center;
    margin-top:2%;


    }

    .container .bouton-container a {
    margin-right:10px;
    }
    footer .contenu {
        justify-content: space-around;
    }
    footer ul {
        margin-left:0;
    }

    footer form input {
        height:10%;
    }
}